header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 2px solid #ccc;
    position: sticky;
    background-color: #fff;
    z-index: 2;
    top: 0;
    font-size: 20px;
}
main section{
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-around;
    margin:20px 10px;
    gap: 20px;
}
header img {
    width: 100%;
    max-width: 100px;
    height: auto; 
    border-radius: 50%;
}

.desktop-tablet-nav li {
    display: inline;
    margin: 15px 10px;
}

.desktop-tablet-nav a , .mobile-nav a{
    color: #333;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.desktop-tablet{
    display: flex;
    align-items: center;
}

.login-button {
    padding: 10px 20px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}
.mobile{
    display: none;
    margin: 10px 10px;
}
#checkbox{
    display: none;
}
.toggle:checked + .menu-btn + .mobile-nav{
    display: block;
}
.menu-btn{
    font-size: 35px;
}
.mobile-nav ul {
    list-style-type: none;
    padding-right: 10px;
    padding-left: 10px;
}
.mobile-nav li{
    margin: 10px 10px;
}
.mobile-nav{
    display:none;
    position: absolute;
    right: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.mobile-nav li:hover, 
.desktop-tablet-nav li:hover
{
text-decoration: underline;
}
.login-button:hover{
    background-color: #234988;
}

.food-card {
    border: 2px solid #c4c3c3;
    border-radius: 10px;
    width: 100%;
    max-width: 350px;
    height: auto;
    padding: 20px;
    margin-bottom: 40px;
}
.food-card img {
    width: 100%;
    height: auto;
}
.food-card h3 {
    width: 100%;
    height: auto;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.food-card p {
    font-size: 25px;
    margin-bottom: 10px;
}
.food-card input[type="submit"] {
    width: 100%;
    height: 50px;
    background-color: #4285f4;
    color: #fff;
    border:0px;
    border-radius: 25px ;
    
}
.food-card input[type="submit"]:hover {
    background-color: #234988;
}
.food-card:nth-child(4)::before,
.food-card:nth-child(5)::before
{
    content: "New";
    background: rgb(255, 63, 15);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    font-size: 25px;
    border: 4px solid #ffffff;
    transform: rotate(-35deg);
    margin: -50px -50px;
    box-shadow: -5px 4px  rgba(255, 63, 15, 0.664)
}

@media all and (max-device-width: 960px) {
    main section{
        display: block;
        column-count: 2;
    }
    .food-card{
        break-inside: avoid;
        margin-left: auto;
        margin-right: auto;
    }
}

@media all and (max-device-width: 768px) {
    .desktop-tablet{
        display: none;
    }
    .mobile{
        display: block;
        order: 1;
    }
    header a{
        margin-right: 10px;
        margin-left:auto;
    }
    header img{
        max-width: 150px;
    }
    header{
        font-size: 30px;
    }
    main section{
        display: flex;
        flex-direction: column;
    }
    .food-card{
        max-width: 700px;
        font-size: 25px;
    }
    .food-card input[type="submit"] {
        height: 70px;
        font-size: 25px;
    }
    .food-card:nth-child(4)::before,
.food-card:nth-child(5)::before
{
    width: 120px;
    height: 120px;
    font-size: 35px;
}
.menu-btn{
    font-size: 60px;
}
}